/* Basic styling to create a simple timetable layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

button {
  position: sticky;
  z-index: 100;
}

.timetable {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.timetable-grid {
  display: grid;
  grid-template-columns: auto repeat(7, 1fr); /* Adjust the number of days */
  grid-gap: 5px;
}

.time-slots,
.days {
  display: flex;
  flex-direction: column;
}

.time-slot,
.day {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  height: 20px;
}

input {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  height: 20px;
  width: auto;
}

.time-slot[type='head'] {
  font-weight: bold;
}

.day[type="head"] {
  font-weight: bold;
}

.time-slot[type="gap"] {
  border: 1px solid #ffffff;
}

.day:hover {
  text-align: center;
  border: 1px solid #ccc;
  background-color: #cccccc72;
  padding: 10px;
}

.day[booked="(booked)"] {
  background-color: #C6DEF1;
}

.day[spaces="1"] {
  background-color: #C9E4DE;
}

.day[spaces="2"] {
  background-color: #C9E4DE;
}

.day[spaces="3"] {
  background-color: #C9E4DE;
}

.day[spaces="4"] {
  background-color: #C9E4DE;
}

#popup-window {
  position: fixed;
  width: 300px;
  height: 200px;
  background: white;
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
}  