<!doctype html>
<html>
    <head>
        <title>Booking Automation</title>
        <script type="text/javascript" src="static/home.js"></script>
        <link rel="stylesheet" href="static/home.css">
        <link rel="stylesheet" href="static/base.css">
    </head>
    <body>
      <nav>
        <ul>
          <li><a href="/†est">test</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
      <button id="popup-link" onclick="showPopup()">Book Session</button>
      <div id="popup-window">
        <button id="close-button" onclick="hidePopup()">Close</button>
        <h1>Pop-up Window</h1>
        <form>
          <input type="text" placeholder="date">
          <input type="text" placeholder="time">
          <i>your court will be booked in order of preference</i>
          <button action="Submit">Submit</button>
        </form>
      </div>  
      <div class="timetable">
        <div class="header">
          <h1>Available Slots / Bookings</h1>
        </div>
        <div class="timetable-grid">
          <div class="time-slots">
            <div class="time-slot" type="gap"></div>
            <div class="time-slot" type="head">Time</div>
            <div class="time-slot" type="head">09:00 - 10:00</div>
            <div class="time-slot" type="head">10:00 - 11:00</div>
            <div class="time-slot" type="head">11:00 - 12:00</div>
            <div class="time-slot" type="head">12:00 - 13:00</div>
            <div class="time-slot" type="head">13:00 - 14:00</div>
            <div class="time-slot" type="head">14:00 - 15:00 </div>
            <div class="time-slot" type="head">15:00 - 16:00</div>
            <div class="time-slot" type="head">16:00 - 17:00</div>
            <div class="time-slot" type="head">17:00 - 18:00</div>
            <div class="time-slot" type="head">18:00 - 19:00</div>
            <div class="time-slot" type="head">19:00 - 20:00</div>
            <div class="time-slot" type="head">20:00 - 21:00</div>
            <div class="time-slot" type="head">21:00 - 22:00</div>
          </div>
          {% for date in availability.date.unique() %}
          <div class="days">
            <div class="day" type="head" >{{date}}</div>
            <div class="day" type="head">{{availability[availability['date'] == date].weekday.unique()[0]}}</div>
            {% for hour in range(9, 22) %}
              <div class="day" day={{date}} hour={{hour}} spaces ={{availability[availability.datetime==date+hour|string].spaces.values[0]}}
              booked={% if not bookings[bookings.datetime == date+hour|string].empty %}(booked){% endif %}>
              {{availability[availability.datetime==date+hour|string].spaces.values[0]}}
              {% if not bookings[bookings.datetime == date+hour|string].empty %}
                (booked)
              {% endif %}
              </div>
            {% endfor %}</div>
        {% endfor %}
          </div>
          </div>
        </div>
        <div class="timetable">
          <div class="header">
            <h1>Preferences</h1>
            <div></div>
          </div>
        <div class="timetable-grid">
            <div class="time-slots">
              <div class="time-slot">Slot</div>
              <div class="time-slot">09:00 - 10:00</div>
              <div class="time-slot">10:00 - 11:00</div>
              <div class="time-slot">11:00 - 12:00</div>
              <div class="time-slot">12:00 - 13:00</div>
              <div class="time-slot">13:00 - 14:00</div>
              <div class="time-slot">14:00 - 15:00 </div>
              <div class="time-slot">15:00 - 16:00</div>
              <div class="time-slot">16:00 - 17:00</div>
              <div class="time-slot">17:00 - 18:00</div>
              <div class="time-slot">18:00 - 19:00</div>
              <div class="time-slot">19:00 - 20:00</div>
              <div class="time-slot">20:00 - 21:00</div>
              <div class="time-slot">21:00 - 22:00</div>
              <!-- Add more time slots here -->
            </div>
            {% for day in days %}
              <div class="days">
                <div class="day">{{day}}</div>
                {% for hour in range(9, 22) %}
                  <div class="preference"><input day={{day}} hour={{hour}} placeholder={% if not preference_data[preference_data['weekdayhour'] == day+hour|string].empty %}{{preference_data[preference_data['weekdayhour'] == day+hour|string].priority[0]}}{% endif %}></input></div>
                {% endfor %}</div>
            {% endfor %}
      </div>
      </div>
    </body>
</html>